.item {
    color: #61dafb;
    padding-left: 20px;
}

.item .p {
    color: orange;
    font-size: 20px;
}

.item img {
    height: 80px;
    width: 100px;
    margin-top: 10px;
    border-radius: 30px;
}

.span {
    margin-left: 20px;
}



