.posts {
    color: yellow;
    padding-left: 20px;
}

.button {
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
    button:hover {
     background-color: transparent;
     border-color: #fff;
     transition: all .1s ease-in-out;
 }

